/* styling for main header */
h1 {
    padding: 25px;
    margin: 2%;
    text-align: center;
    background-color: rgb(9, 9, 243);
    color: white;
}

.container {
    float: left;
}

.weather {
    float: right;
}